body {
    background-color: #FFFFFF;
}

#contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

#othello {
    background-color: #008800;
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

#othello tr td {
    width: 12.5%;
    height: 12.5%;
    border-radius: 100%;
    border: 2px solid #555555;
    
}

.w {
    background-color: #FFFFFF;
}
.b {
    background-color: #000000;
}

#turn{
    text-align: center;
}
#score td{
    text-align: center;
}
#restart td {
    text-align: center;
}