body {
    background-color: #FFFFFF;
}

table {
    background-color: #008800;
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

td {
    width: 12.5%;
    height: 12.5%;
    border-radius: 100%;
    border: 2px solid #555555;
    
}

.w {
    background-color: #FFFFFF;
}
.b {
    background-color: #000000;
}