<header>
    <div class="header">
        <div class="logo">My Website</div>
        <nav>
            <ul>
                <li><a href="../index.html" target="_top">ホーム</a></li>
                <li><a href="../othello.html" target="_top">オセロをプレイ</a></li>
                <li><a href="../howto.html" target="_top">プレイ方法</a></li>
                <li><a href="../mypage.html" target="_top">マイページ</a></li>
                <li><a href="../developer.html" target="_top">開発者紹介</a></li>
            </ul>
        </nav>
    </div>
</header>
