<script src="https://unpkg.com/@supabase/supabase-js@2"></script>
<link rel="stylesheet" href="../css/header.css">

<header>
    <div class="header">
        <div class="logo">Othello</div>
        <nav>
            <ul>
                <li><a href="../index.html" target="_top">ホーム</a></li>
                <li><a href="../othello.html" target="_top">オセロをプレイ</a></li>
                <li><a href="../howto.html" target="_top">プレイ方法</a></li>
                <li><a href="../developer.html" target="_top">開発者紹介</a></li>
            </ul>
        </nav>
        <div class="auth-section">
            <div id="user-section" style="display: none;">
                <span id="user-email"></span>
                <button id="logout-btn" onclick="handleLogout()">ログアウト</button>
            </div>
            <button id="login-btn" onclick="goToLogin()">ログイン</button>
        </div>
    </div>
</header>

<script src="../js/supabase-config.js"></script>
<script src="../js/auth.js"></script>
<script>
    // ログアウト処理
    async function handleLogout() {
        await signOut();
    }

    // ログインページに移動
    function goToLogin() {
        window.parent.location.href = '../auth/login.html';
    }
</script>
